@media only screen and (max-width: 767px) {
    #right-container {
        width: 85%;
        margin: auto;
    }
    .filtros{
        top: unset!important;
        left: unset!important;
        transform: unset!important;
        width: 100%!important;
        padding: 3vh;
    }
}
@media only screen and (min-width: 768px) {
    #right-container {
        width: 75%;
        float: right !important;
    }
    .filtros{
        display: inline-block;
        width: 20%;
        padding-left: 1vw;
        padding-top: 1vw;
    }
}
.solicitud-container{/*Se colocan aquí por que la posición y el hover no es igual para todos ejemplo ofertar es diferente*/
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    transition: 0.3s;
}
.solicitud-container:hover {
    border: 1px solid white!important;
    border-left-width: 10px!important;
}


div>*{/*This prevent event information to get many space between lines*/
    margin: 0px;/*Whit this margin can't use important because Tags stops working*/
}
hr {
    margin-left: auto!important;
    max-width: 50%;
    border: 0;
    border-top: 1px solid black;
}



.entrenador-container{
    min-height: 60vh;/*en dispositivos grandes le da un buen aspecto, sin afectar a los pequeños que se autoacomodan*/
    cursor: pointer;
}
.user-profile-icon{
    display: block;/*evita que las estrellas se desacomoden*/
    width: 140px;
    height: 140px;
    margin: 0 auto 3vh  auto !important;
    border-radius: 50%;
}
.verificado-container{
    width: 80%;
    margin: -5vh auto 0 auto;
}
.verificado{
    font-size: 36px;
    color: cornflowerblue;
}
.verificado>*{
    margin-top: -34px;
    background-color: white;
    font-size: 24px;
    height: 30px;
    width: 30px;
    margin-left: 2px;
    border-radius: 100%;
}
.bottom{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -3vh);
    margin: 0 auto;
    z-index: 1000;
}