/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {font-size: 2em;
        line-height: 1.25em;}
    h2 {font-size: 1.625em;
        line-height: 1.15em;}
    h3 {font-size: 1.375em;
        line-height: 1.14em;}
    h4 {font-size: 1em;
        line-height: 1.11em;}
    p {font-size: 1em;
        line-height: 1.11em;}
    blockquote {font-size: 1.125em;
        line-height: 1.25em;}

    .user-info{
        width: 50%;
    }
    .notification{
        width: 99vw;
        right: -73px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {font-size: 2em;
        line-height: 1.25em;}
    h2 {font-size: 1.625em;
        line-height: 1.15em;}
    h3 {font-size: 1.375em;
        line-height: 1.14em;}
    h4 {font-size: 1.125em;
        line-height: 1.11em;}
    p {font-size: 1.125em;
        line-height: 1.11em;}
    blockquote {font-size: 1.25em;
        line-height: 1.25em;}

    .user-info{
        width: 40%;
    }
    .notification{
        width: 99vw;
        right: -73px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {font-size: 2.5em;
        line-height: 1.125em;}
    h2 {font-size: 2em;
        line-height: 1.25em;}
    h3 {font-size: 1.5em;
        line-height: 1.25em;}
    h4 {font-size: 1.125em;
        line-height: 1.22em;}
    p {font-size: 1.125em;
        line-height: 1.22em;}
    blockquote {font-size: 1.5em;
        line-height: 1.46em;}

    .user-info{
        width: 20%;
    }
    #right-div{
        width: 100%;
    }
    .btn{
        width: fit-content;
    }
    .notification{
        width: 40vw;
        right: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {font-size: 3em;
        line-height: 1.5em;}
    h2 {font-size: 2.25em;
        line-height: 1.25em;}
    h3 {font-size: 1.75em;
        line-height: 1.25em;}
    h4 {font-size: 1.125em;
        line-height: 1.22em;}
    p {font-size: 1.125em;
        line-height: 1.22em;}
    blockquote {font-size: 1.5em;
        line-height: 1.46em;}
    .notification{
        width: 30vw;
        right: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {font-size: 3em;
        line-height: 1.5em;}
    h2 {font-size: 2.25em;
        line-height: 1.25em;}
    h3 {font-size: 1.75em;
        line-height: 1.25em;}
    h4 {font-size: 1.125em;
        line-height: 1.22em;}
    p {font-size: 1.125em;
        line-height: 1.22em;}
    blockquote {font-size: 1.5em;
        line-height: 1.46em;}
    .notification{
        width: 25vw;
        right: 0;
    }
}
body{
    background-color: var(--body-backgroud-color);
    overflow-x: hidden;
}
.container-fluid {
    display: block;
    position: relative;
}
.full::after {
    content: "";
    background: url("../images/welcomeBackground.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
:root {/*Para Angular se debe anteponer ::ng-deep para que funcionen las variables*/
    --base-color: #28a745;/*azul cielo:00ccff ; azul oscuro:185fa3*/
    --second-color: orange;
    --third-color: #185fa3;/*cornflowerblue #185fa3*/
    --grey-color: #A3A3A3;
    --body-backgroud-color:
            /*white;*/
            currentcolor;
            /*rgb(51, 51, 51);*/
        /*rgba(23, 23, 23, 0.6);*/

    --navbar-height: 74px;
}

.client-icon{
    width: 32px;
    height: 32px;
}
.navbar{
    height: var(--navbar-height);
    transition: 0.1s ease-in;
}
.borde-negro-intenso{
    border: 1px solid #0A0A0A!important;
}
.borde-blanco{
    border: 1px solid white!important;
}
.bg-semi-transparent{
    background-color: rgba(256,256,256,0.8);
    color: cadetblue;
}
.bg-grey{
    background-color: rgba(52,58,64,0.6);
    color: white;
}
.bg-base{
    background-color: var(--base-color);
    color: white;
}
.bg-second{
    background-color: var(--second-color);
    color: white;
}
.bg-third{
    background-color: var(--third-color);
    color: white;
}
.bg-dark{
    color: white!important;
}
.bg-danger{
    color: white!important;
}
.grey{
    color: var(--grey-color);
}

.container-fluid, .container{
    margin-top: calc(74px + 10px);
    padding: 0;
    color: white;
}
.banner-icon{
    display: inline-block;
    width: 24px;
    margin-left: 16px!important;/*Whit Angular "!important" have to be used*/
}
.user-icon{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.invalid-feedback{
    display: block!important;
    color: white;
}
.flash-message{
    position: absolute;
    width: 50vw;
    left: 50%;
    margin-left: -25vw;
    z-index: 1200;
}
.alert{
    border-radius: 20px;
    border-color: transparent;
}
.alert-success{
    color: white;
    background-color: #28a745;
}
.alert-danger{
    color: white;
    background-color: #dc3545;
}
/*check box*/
.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: var(--grey-color);
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: var(--base-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*end checkbox*/
.floating-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px!important;
}
.tag{
    min-width: 100px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    width: fit-content;
    padding: 1vh 1.5vw;
    color: white;
    margin-right: 2vw!important;/*Whit Angular "!important" have to be used*/
    background-color: var(--third-color);
}
.tag>p{
    margin-bottom: 0!important;
}
.solicitud-container{
    padding: 3vh;
}
.sticky-top{
    top: calc(var(--navbar-height));/*lo que tiene el nav bar de ancho*/
}
.offer-container{
    padding: 3vh;
}
.user-info{
    display: inline-block;
    margin-left: 1%!important;/*Whit Angular "!important" have to be used*/
    line-height: 0;/*Para que en firefox queden bien sobrepuestas las estrellas*/
}
.user-info>*{
    display:table-row;/*this prevent space between component*/
}
.user-info-horizontal>*{
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px!important;/*Whit Angular "!important" have to be used*/
}
.apply-lg{
    height: fit-content;
    min-width: 10vw;
    width: 100px;
}
.apply-sm{
    width: 100%!important;/*sobreescribe el del btn*/
    margin-top: 1.5vw!important;/*Whit Angular "!important" have to be used*/
}
.event-information-container{
    padding: 3vh;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 3vh;
}
.price-container{
    text-align: right;
}
.trainer-description{
    vertical-align: top;
    margin: auto;/*Whit Angular "!important" have to be used*/
    overflow: hidden;
    max-width: 45%;
    height: inherit;
}
.btn{
    border-radius: 20px;
    min-width: 10vw;
    /*width: fit-content;*/
    max-height: 40px;/*Para que no se alargen en firefox*/
}
.btn-success{
    color: white!important;
}
.popover{
    max-width: 30vw;
}
.popover-navigation{
    padding: 3vh;
}
.margenes-normales{
    margin-right: 1vw;
    margin-left: 1vw;
    padding: 3vh;
}
.rating-container{
    height: 2.5vw;
    min-height: 16px;
    max-height: 25px;
    width: fit-content;
}
.fullRating-container {
    position: absolute;
    background-image: url('../images/rating.png');
    height: 2.5vw;
    min-height: 16px;
    max-height: 25px;
    background-size: cover;/* Make the background image cover the area of the <div>, and clip the excess */
    z-index: 100;
}
#emptyRating{
    position: absolute;
    width: 10vw;
    height: 2.5vw;
    min-width: 64px;
    min-height: 16px;
    max-width: 100px;
    max-height: 25px;
}
.numero-contador-container{
    align-items: center;
    display: flex;
    justify-content: center;
    border: 5px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 3vh;
    margin: 0 auto 3vh auto;
}
.numero-contador-container>*{
    margin: 0;
}
.contador-container{
    display: inline-block;
    text-align: center;
    width: fit-content;
}
.dropdown-menu-right{
    text-align: right;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: unset;
    text-decoration: none;
    background-color: unset;
}
.dropdown-item{
    color: unset;
}
.event-information{
    display: inline-block;
    padding-right: 2vw;
}
.event-schedule{
    display: inline-block!important;
    margin-right: 1vw!important;/*Whit Angular "!important" have to be used*/
}
.modal-body{
    color: black;
}
.pac-container{
    z-index: 10000;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--third-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--third-color);
    cursor: pointer;
}

section {
    width: 700px;
    height: auto;
    margin: 0 auto 0;
    position: relative;
}
#slider {
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 400px;
    position: absolute;
    height: 13px;
    background: #85837A;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, .5), 0 1px 0 0 rgba(250, 250, 250, .5);
    left: 20px;
}
.cursor-pointer{
    cursor: pointer;
}
.redondeado{
    border-radius: 20px;
}
.notification-item{
    font-size: 0.8em;
    line-height: 3.125;
    background-color: #2b2b2b;
    background-image: -webkit-linear-gradient(#2b2b2b, #262626);
    background-image: linear-gradient(#2b2b2b, #262626);
}
.notification-item:hover{
    background-color: var(--success);
    background-image: -webkit-linear-gradient(var(--success), var(--success));
    background-image: linear-gradient(var(--success), var(--success));
}
.break-word{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: unset;
}
/*Contador de notificaciones*/
.badge1 {
    position:relative;
}
.badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-5px;
    right:-5px;
    font-size:.7em;
    background:var(--danger);
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
}
/*Fin contador de notificaciones*/
.modal-content{
    color: black;
}
.radio label{
    color: black!important;
}
.text-area{
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2)!important;
    margin-bottom: 0;
}
.dar-rating{
    position: absolute;
    min-height: 16px;
    max-height: 50px;
    background-size: cover;/* Make the background image cover the area of the <div>, and clip the excess */
    height: 50px;
    margin-top: -50px;
}
.dar-rating:hover{
    -webkit-transition: background-image 2s; /* Safari */
    transition: background-image 2s;
    background-image: url('../images/rating.png');
    z-index: 200;
}
#ratingSeleccionado{
    position: absolute;
    min-height: 16px;
    max-height: 50px;
    background-image: url('../images/rating.png');
    background-size: cover;
    height: 50px;
    margin-top: -50px;
}
.brand-name{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.brand-name span{
    color:  #5383d3;
}
.color-white{
    color: white!important;
}
.notification{
    max-height: 90vh;
    overflow: auto;
}

.checkbox-image{
    display: flex;
    margin: 0 auto 20px;
    font-size: 40px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 1vh;
    color: white;
    border: 4px solid #CCCCCC;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.checkbox-image:hover{
    border: 4px solid var(--success)!important;
    color: var(--success)!important;
}
:checked+.checkbox-image{
    border: 4px solid var(--success);
    color: var(--success);
}
.checkbox-image>i{
    margin: auto;
    font-size: 45px;
}
.checkbox-input{/*Para que valide pero sin mostrar el radiobutton*/
    position: absolute;
    width: 0;
}
.search-input{
    border-radius: 20px;
    height: 36px;
    font-size: 14px;
    line-height: 1.42857;
    border: 0;
    padding: 10px 15px;
    background: lightgrey;
}
.search-input:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.nuevo-tag{
    width: fit-content;
    width: -moz-fit-content;/*para mozila*/
    padding: 5px;
    margin: auto 0;
    background-color: tomato;
    color: white;
    border-radius: 20px;
}
.links > a {
    margin-right: 3vh;
    color: white;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
a.coral{
    color: coral;
}
a.coral:hover{
    color: coral;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.white-nav-link {
    color: white;
}

.white-nav-link.active {
    color: black;
}
.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@font-face {
    font-family: "Barlow Thin";
    src:  url('../fonts/barlow/Barlow-Thin.ttf') format("truetype");
}
@font-face {
    font-family: "Barlow Regular";
    src:  url('../fonts/barlow/Barlow-Regular.ttf') format("truetype");
}
body {
    font-family: "Barlow Regular";
}
.tooltip {
    z-index: 10700;
}