.register::after {
    content: "";
    background: url("../images/log2.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.loginDiv{
    position: relative;
    height: 100%;
    padding-top: 10%;
}
